/* Create.css */
.clouds {
  background-color: white;
  background-image: url(../img/clouds.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.social-preview {
  transition: background-image 1s;
  width: 100%;
  margin: auto;
  max-width: 640px;
  height: 320px;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.social-preview .social-preview-button {
  position: absolute;
  display: flex;
  padding: 0;
  margin: 15px;
  bottom: 0;
  background-color: white;
  align-items: center;
}

.social-preview .social-preview-button > * {
  padding: 7px;
}

.social-preview .social-preview-button .social-preview-remove {
  opacity: 0;
  transition: opacity .8s;
}

.social-preview .social-preview-button .social-preview-remove.show {
  opacity: 1;
  transition: opacity .8s;
}


/* Markdown editor */
.editor-toolbar button.table {
  width: auto;
}

.btn-outline-success:hover {
  color: #198754;
}

.nav-link {
  color: #000;
}

.btn-primary, .nav-pills .nav-link.active {
  color: #fff;
  background-color: #2EACAB;
  border-color: #2EACAB;
}

.btn-primary:hover {
  background-color: #1F7F7D;
  border-color: #1F7F7D;
}

a, .btn-link {
  color: #2EACAB;
}

a:hover, .btn-link:hover {
  color: #1F7F7D;
}

@media (min-width: 992px) {
  .modal-lg, .modal-xl {
    max-width: 922px;
  }
}

label {
  padding: .5rem 0;
}

.cursor-pointer {
  cursor: pointer;
}

.modal.show {
  display: block;
}

/* slide fade transition*/
.slide-fade-enter-active {
  transition: opacity .5s;
}

.slide-fade-enter {
  opacity: 0;
}

.slide-fade-leave-active {
  display: none;
}

/* fade transition */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
